.card-outer {
    height: 100px;
    width: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.card-outer::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    font-family: serif;
    font-weight: bold;
}
.suite {
    font-size: 30px;
}
.suite-red {
    color: red;
}